.about {
  @include outer-wrapper;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
}

.about__wrapper {
  @include inner-wrapper(1170px);
}

.about__img-container {
  padding-top: 12px;
  width: 179px;
}

.about__container {
  width: calc(100% - 179px);

  h3 {
    margin-top: 0;
    margin-bottom: 20px;

    @include roboto-regular(36px, 51px);
    color: $dark-grey;
  }

  p {
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 21px;

    @include ptmono(16px, 22px);
    color: $dark-grey;
  }
}

.about__excerpt {
  display: none;
}

.about__link {
  margin-top: 21px;
}

@media (max-width: $desktop-width - 1) {
  .about {
    padding-top: 54px;
    padding-bottom: 80px;
  }

  .about__wrapper {
    display: flex;
    padding: 0;
  }

  .about__img-container {
    width: 187px;
    padding-top: 6px;

    img {
      width: 130.26px;
      height: 346.81px;
    }
  }

  .about__container {
    width: calc(100% - 189px);

    h3 {
      margin-top: 0;
      margin-bottom: 25px;

      @include roboto-regular(32px, 140.62%);
    }

    p {
      padding-right: 0;

      @include ptmono(16px, 22px);
    }
  }

  .about__excerpt {
    display: inline;
  }

  .about__wholetext {
    display: none;
  }

  .about__link {
    margin-top: 16px;
  }
}

@media (max-width: $tablet-width - 1) {
  .about {
    margin: 0;
    padding-top: 37px;
    padding-bottom: 65px;
  }

  .about__img-container {
    display: none;
  }

  .about__container {
    width: 100%;
    margin: 0;

    h3 {
      margin-bottom: 20px;

      @include roboto-regular(28px, 140.62%);
    }

    p {
      padding-right: 0;
      margin-bottom: 38px;
    }
  }

  .about__link {
    margin-top: -9px;
  }
}
