.about {
  @include outer-wrapper;
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
}

.about__wrapper {
  @include inner-wrapper-tighter;
}

.about__img-container {
  flex-shrink: 0;
  width: 179px;
  height: 317px;

  background: url("../img/2005-desktop.png") no-repeat -30px 7px;
  background-size: 220px 317px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/2005-desktop-2x.png");
  }
}

.about__container {
  width: calc(100% - 179px);
}

.about__title {
  margin-top: 0;
  margin-bottom: 20px;

  @include roboto-regular(36px, 51px);
  color: $dark-grey;
}

.about__text {
  padding-right: 30px;
  margin-bottom: 21px;

  @include ptmono(16px, 22px);
  color: $dark-grey;
}

.about__excerpt {
  display: none;
}

.about__link {
  margin-top: 21px;
}

@media (max-width: $desktop-width - 1) {
  .about {
    padding-top: 28px;
    padding-bottom: 80px;
  }

  .about__wrapper {
    display: flex;
    padding: 0;
  }

  .about__img-container {
    width: 189px;
    height: 354px;
    background: url("../img/2005-tablet.png") no-repeat -33px -2px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005-tablet-2x.png");
    }
  }

  .about__container {
    width: calc(100% - 189px);
  }

  .about__title {
    margin-top: 0;
    margin-bottom: 28px;

    @include roboto-regular(32px, 140.62%);
  }

  .about__text {
    padding-right: 0;

    @include ptmono(16px, 22px);
  }

  .about__excerpt {
    display: inline;
  }

  .about__wholetext {
    display: none;
  }

  .about__link {
    margin-top: 16px;
  }
}

@media (max-width: $tablet-width - 1) {
  .about {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 65px;
  }

  .about__img-container {
    display: none;
  }

  .about__container {
    width: 100%;
    margin: 0;
  }

  .about__title {
    margin-bottom: 20px;

    @include roboto-regular(28px, 140.62%);
  }

  .about__text {
    padding-right: 0;
    margin-bottom: 38px;
  }

  .about__link {
    margin-top: -9px;
  }
}
