.advantages {
  margin-bottom: 70px;
  padding-top: 113px;

  @include outer-wrapper;
}

.advantages__wrapper {
  @include inner-wrapper;
  padding: 0 120px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.advantages__container {
  width: 50%;
  box-sizing: border-box;
  min-height: 330px;
  padding: 0 15px 32px;
  display: flex;

  h3 {
    margin-top: 13px;
    margin-bottom: 0;

    @include roboto-regular(24px, 34px);
    color: $blue;
  }

  p {
    @include ptmono(16px, 22px);
    color: $dark-grey;
  }
}

.advantages__image {
  fill: $blue;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px 34px 47px 44px;

  border-top: 1px solid $lighter-grey;
  border-right: 1px solid $lighter-grey;
  border-bottom: 1px solid $lighter-grey;
  border-left: 3px solid $blue;
  background-color: $white;
  transition: 0.4s;
}

.advantages__item:hover {
  background-color: $blue;
  border-color: $blue;
  transition: 0.4s;

  h3,
  p {
    color: $white;
  }

  svg {
    fill: $white;
  }
}

@media (max-width: $desktop-width - 1) {
  .advantages {
    margin-bottom: 20px;
    padding-top: 53px;
  }

  .advantages__wrapper {
    padding: 0;
  }

  .advantages__list {
    margin: 0 -15px;
  }

  .advantages__container {
    min-height: 265px;

    h3 {
      margin-top: 9px;
    }

    p {
      margin-top: 7px;
    }
  }

  .advantages__item {
    padding: 23px 19px 3px 25px;
  }

  .advantages__image-container {
    height: 35px;
  }

  .advantages__image {
    &--stopwatch {
      width: 29.38px;
      height: 35.46px;
    }

    &--hired {
      width: 31.72px;
      height: 32.18px;
    }

    &--detective {
      width: 30.31px;
      height: 26.1px;
    }

    &--tag {
      width: 32.18px;
      height: 32.18px;
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .advantages {
    margin-bottom: 37px;
    padding-top: 37px;
  }

  .advantages__marginfix {
    margin-right: -2px;
  }

  .advantages__list {
    margin: 0 -2px;
    flex-direction: column;
  }

  .advantages__container {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    min-height: 233px;

    h3 {
      margin-top: 13px;

      @include roboto-regular(20px, 140.62%);
    }
  }

  .advantages__item {
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 23px;
    border-left: 2px solid $blue;
  }
}
