.button {
  @include roboto-bold(14px, 16px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  padding: 14px 26px;

  &:hover {
    color: lighten($blue, 30%);
    border-color: lighten($blue, 30%);
  }

  &:active,
  &:focus {
    color: rgba($white, 0.6);
    border-color: rgba($white, 0.6);
  }

  &--big {
    display: inline-block;
    padding: 18px 46px;

    @include roboto-bold(16px, 19px);
    background-color: $blue;
    border: none;

    &:hover {
      color: $white;
      background-color: lighten($blue, 10%);
    }

    &:active,
    &:focus {
      color: rgba($white, 0.6);
      border-color: rgba(lighten($blue, 10%), 0.6);
    }
  }

  &--about {
    display: inline-block;
    padding: 14px 50px;
    color: $blue;
    border-color: $blue;
  }
}

@media (max-width: $desktop-width - 1) {
  .button--big {
    padding: 18px 31px;
  }
}

@media (max-width: $tablet-width - 1) {
  .button--big {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: 0;

    &::before {
      vertical-align: middle;

      @include roboto-bold(16px, 19px);
      letter-spacing: 0.05em;
      content: "Бесплатная консультация";
    }
  }
}
