.button {
  @include roboto-bold(14px, 16px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  padding: 14px 26px;

  &--big {
    display: inline-block;
    padding: 18px 46px;

    @include roboto-bold(16px, 19px);
    background-color: $blue;
    border: none;
  }
}

@media (max-width: $tablet-width) {
  .button--big {
    padding: 18px 31px;
  }
}

@media (max-width: $mobile-width) {
  .button--big {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: 0;

    &::before {
      vertical-align: middle;

      @include roboto-bold(16px, 19px);
      content: "Бесплатная консультация";
    }
  }
}
