.callback {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $blue url("../img/triangles.svg") calc((100% - 1530px) / 2 + 1571px) 39px no-repeat;
}

.callback__wrapper {
  width: 1530px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 62px 0 72px;

  background-image: url("../img/airplane-background.svg"), url("..//img/airplane.png");
  background-position: right 878px top -56px, right 864px top 166px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/airplane-background.svg"), url("../img/airplane-2x.png");
    background-size: auto, 511px auto;
  }
}

.callback__form {
  margin-left: auto;
  margin-right: 185px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 570px;

  h2 {
    margin-left: -2px;
    margin-bottom: 9px;

    @include roboto-regular(36px, 51px);
    color: $white;
  }

  p {
    margin: 0 0 50px;
    width: 100%;

    @include ptmono(16px, 22px);
    color: $white;
  }

  input,
  textarea {
    padding: 16px 21px;
    box-sizing: border-box;

    @include ptmono(16px, 22px);
    background-color: rgba($white, 0.1);
    color: $white;
    border: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: inherit;
  }

  textarea {
    resize: none;
  }

  input:hover,
  textarea:hover {
    background-color: rgba($white, 0.2);
  }
}

.callback__label {
  input {
    width: 100%;
  }
}

.callback__label--chbx {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 43px;

  @include ptmono(14px, 16px);
  color: rgba($white, 0.8);
  cursor: pointer;

  &:hover {
    color: $white;
  }

  input:checked + span::before {
    background-image: url("../img/checkbox-checked.svg");
  }

  span {
    position: relative;

    &::before {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: -33px;

      content: "";
      background-image: url("../img/checkbox-non-checked.svg");
    }
  }
}

.callback__label--txt,
.callback__btn {
  margin-right: 31px;
}

.callback__label,
.callback__btn {
  width: calc(50% - 15.5px);
  margin-bottom: 40px;
}

.callback__textarea {
  margin-bottom: 43px;
  height: 154px;
  width: 100%;
}

.callback__agreement {
  display: none;
}

@media (max-width: $desktop-width - 1) {
  .callback {
    background: $blue;
  }

  .callback__wrapper {
    width: 100%;
    padding: 52px 90px 62px;

    background: none;
  }

  .callback__form {
    margin: 0;
    width: 100%;
    padding-left: 0;

    h2 {
      margin-bottom: 17px;

      @include roboto-regular(32px, 140.62%);
    }

    p {
      margin-bottom: 55px;
    }
  }

  .callback__textarea {
    margin-bottom: 50px;
  }
}

@media (max-width: $tablet-width - 1) {
  .callback__wrapper {
    padding: 9px 15px 11px;
  }

  .callback__form {
    padding: 0;

    h2 {
      margin-bottom: 13px;

      @include roboto-regular(28px, 140.62%);
    }

    p {
      margin-bottom: 23px;
    }
  }

  .callback__label {
    display: block;

    &--chbx {
      padding-left: 32px;
    }
  }

  .callback__label,
  .callback__btn,
  .callback__textarea {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .callback__textarea {
    height: 104px;
    margin-bottom: 30px;
  }
}
