.copyright {
  @include outer-wrapper;
  padding-top: 14px;
  padding-bottom: 14px;

  @include ptmono(13px, 24px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.copyright__wrapper {
  @include inner-wrapper;
}

.copyright__inner {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
}

.copyright__rights {
  margin-right: 75px;
}

.copyright__term {
  margin-right: 10%;
}

.copyright__dev {
  margin-left: auto;
}

@media (max-width: $desktop-width - 1) {
  .copyright {
    padding-top: 19px;
    padding-bottom: 19px;
    justify-content: space-between;
  }

  .copyright__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .copyright__rights,
  .copyright__term {
    display: none;
  }

  .copyright__dev {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width - 1) {
  .copyright__wrapper {
    flex-direction: column;
    text-align: center;

    span {
      padding: 5px 0;
    }
  }

  .copyright {
    padding-top: 5px;
    padding-bottom: 27px;
  }
}
