.copyright {
  @include ptmono(13px, 24px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.copyright__inner {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
}

.copyright__rights {
  margin-right: 75px;
}

.copyright__term {
  margin-right: 10%;
}

.copyright__dev {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .copyright__rights,
  .copyright__term {
    display: none;
  }

  .copyright__dev {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    flex-direction: column;
    text-align: center;
  }

  .copyright__conditions {
    margin-bottom: 21px;
  }
}
