.middle-background {
  background-image: url("../img/middle-background-decor-big.svg");
  background-position: top -28px left 0;
  background-repeat: no-repeat;

  @media (max-width: $desktop-width - 1) {
    background-image: url("../img/middle-background-decor-small.svg");
    background-position: top 92px left 210px;
  }

  @media (max-width: $tablet-width - 1) {
    background-position: top 652px left -121px;
  }
}
