.page-footer {
  padding-top: 65px;

  &--nojs {
    .page-footer__toggle {
      display: none;
    }

    .page-footer__list--show {
      display: block;
    }
  }
}

.page-footer__logo {
  margin-bottom: 50px;
}

.page-footer__toggle {
  display: none;
}

.page-footer__top {
  padding-bottom: 58px;
  border-bottom: 1px solid rgba($grey, 0.2);
}

.page-footer__columns {
  display: flex;
  justify-content: space-between;
}

.page-footer__intro {
  margin-right: 11.5%;
  display: flex;
  flex-direction: column;

  span {
    display: none;
  }
}

.page-footer__social {
  margin: 0;
}

.page-footer__title {
  margin: 0 0 26px 0;
  padding-left: 5px;

  @include roboto-regular(15px, 16px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.page-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--cols {
    columns: 120px 2;
    column-gap: 76px;
  }

  li {
    @include ptmono(15px, 25px);
    opacity: 0.5;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.page-footer__contacts {
  margin-left: 5%;
}

.page-footer__copyright {
  @include wrapping;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (min-width: $tablet-width + 1) {
  .page-footer__top {
    @include wrapping;
  }
}

@media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
  .page-footer__wrapper {
    width: 100%;

    @include wrapping;
    display: flex;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 0;
  }

  .page-footer__top {
    padding-bottom: 35px;
  }

  .page-footer__wrapper {
    width: 100%;
  }

  .page-footer__columns {
    flex-wrap: wrap;
  }

  .page-footer__intro {
    width: 100%;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    flex-direction: row;
    align-items: center;

    @include wrapping;

    border-bottom: 1px solid rgba($grey, 0.2);

    span {
      display: block;
      margin-left: 12%;
      margin-right: auto;

      @include ptmono(13px, 24px);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }

  .page-footer__logo {
    margin-bottom: 0;

    font-size: 0;
  }

  .page-footer__col {
    padding-top: 38px;
  }

  .page-footer__menu {
    margin-right: -10px;
  }

  .page-footer__list--cols {
    column-count: 1;
  }

  .page-footer__copyright {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__top {
    padding-bottom: 0;
    border: none;
  }

  .page-footer__intro {
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 51px;

    span {
      margin: 0 0 30px 0;
    }
  }

  .page-footer__logo {
    margin-bottom: 27px;
  }

  .page-footer__col {
    border-bottom: 1px solid rgba($grey, 0.2);
    position: relative;

    @include wrapping;
    padding-top: 30px;
    padding-bottom: 23px;
  }

  .page-footer__menu {
    margin-right: 0;
  }

  .page-footer__contacts {
    margin: 0;
  }

  .page-footer__title {
    margin-bottom: 2px;
    padding-left: 0;
  }

  .page-footer__list {
    display: none;
    margin-top: 30px;

    &--show {
      display: block;
    }
  }

  .page-footer__toggle {
    display: block;
    position: absolute;
    background: transparent;
    top: 29px;
    right: 16px;
    width: 16px;
    height: 16px;

    content: "";
    font-size: 0;
    border: none;

    &::before {
      position: absolute;
      background-color: $light-grey;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;

      content: "";
    }
  }

  .page-footer__toggle--plus {
    &::after {
      position: absolute;
      background-color: $light-grey;
      transform: rotate(90deg);
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;

      content: "";
    }
  }
}
