.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -118px;
  position: relative;
  z-index: 2;

  background-color: transparent;
}

.page-header__wrapper {
  width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 33px 17px 33px 12px;
}

.page-header__logo {
  display: block;
  margin-right: auto;
  padding: 0;

  font-size: 0;
}


@media (max-width: $desktop-width - 1) {
  .page-header {
    margin-bottom: -92px;
  }

  .page-header__wrapper {
    display: flex;
    padding: 20px 25px;
  }
}

@media (max-width: $tablet-width - 1) {
  .page-header {
    margin-bottom: -77px;
  }

  .page-header__wrapper {
    padding: 16px 15px 25px;
  }

  .page-header__logo-image {
    width: 38px;
    height: 38px;
  }
}
