.production {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $dark-blue;
}

.production__wrapper {
  width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 86px 135px 95px;
}

.production__title {
  margin-top: 0;
  margin-bottom: 53px;

  @include roboto-regular(36px, 51px);
  color: $white;
}

.production__item {
  display: block;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 50px 44px;
  width: calc(33.3% - 20px);
  height: 620px;

  @include roboto-regular(20px, 30px);
  color: $white;
  text-decoration: none;
  background-color: saturate($dark-blue, 20%);
  background-position: top center;
  background-repeat: no-repeat;
  transition: 0.4s;

  &:nth-child(3n+1) {
    margin-right: 0;
  }

  p {
    margin: 0;
    width: 170px;
  }

  svg {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:hover {
    box-shadow: 0 0 20px darken($dark-blue, 10%);
    transition: 0.4s;
  }

  &:active,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }

  &--product {
    background-image: url("../img/product-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-desktop-2x.png");
      background-size: 100%;
    }
  }

  &--mount {
    background-image: url("../img/mount-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mount-desktop-2x.png");
      background-size: 100%;
    }
  }

  &--light {
    background-image: url("../img/light-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/light-desktop-2x.png");
      background-size: 100%;
    }
  }
}

@media (max-width: $desktop-width - 1) {
  .production__wrapper {
    padding: 47px 25px 31px;
  }

  .production__title {
    margin-bottom: 52px;
    padding-left: 0;
    padding-right: 90px;

    @include roboto-regular(32px, 140.62%);
  }

  .production__item {
    width: 100%;
    margin: 0 0 46px;
    padding: 39px 44px;
    height: 256px;
    background-size: cover;

    &--product {
      background-image: url("../img/product-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product-tablet-2x.png");
      }
    }

    &--mount {
      background-image: url("../img/mount-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mount-tablet-2x.png");
      }
    }

    &--light {
      background-image: url("../img/light-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/light-tablet-2x.png");
      }
    }
  }

  @media (max-width: $tablet-width - 1) {
    .production__wrapper {
      padding-top: 52px 15px 31px;
    }

    .production__title {
      margin-bottom: 42px;
      padding-left: 10px;
      padding-right: 0;

      @include roboto-regular(28px, 140.62%);
    }

    .production__item {
      margin-bottom: 30px;
      padding: 19px 35px;

      &--product {
        background-image: url("../img/product-mobile.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/product-mobile-2x.png");
        }
      }

      &--mount {
        background-image: url("../img/mount-mobile.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/mount-mobile-2x.png");
        }
      }

      &--light {
        background-image: url("../img/light-mobile.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/light-mobile-2x.png");
        }
      }
    }
  }
}
