.production {
  @include outer-wrapper;
  padding-top: 60px;
  padding-bottom: 95px;

  background-color: $dark-blue;
}

.production__wrapper {
  @include inner-wrapper-tighter;
  flex-direction: column;
}

.production__title {
  margin-bottom: 53px;

  @include roboto-regular(36px, 51px);
  color: $white;
}

.production__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px 0 0;
  padding: 0;

  list-style: none;
}


.production__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 50px 44px;
  width: 370px;
  height: 620px;

  background-position: top center;
  background-repeat: no-repeat;
  transition: 0.4s;

  a {
    @include roboto-regular(20px, 30px);
    color: $white;
    text-decoration: none;
  }

  h3 {
    margin: 0;
    width: 170px;

    font-size: inherit;
    font-weight: inherit;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;

    content: "";
    background-image: url("../img/square-link.svg");
  }

  &:hover {
    box-shadow: 0 0 20px darken($dark-blue, 10%);
    transition: 0.4s;
  }

  &:active,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }

  &--product {
    background-image: url("../img/product-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-desktop-2x.png");
      background-size: 100%;
    }
  }

  &--mount {
    background-image: url("../img/mount-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mount-desktop-2x.png");
      background-size: 100%;
    }
  }

  &--light {
    background-image: url("../img/light-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/light-desktop-2x.png");
      background-size: 100%;
    }
  }
}

@media (max-width: $desktop-width - 1) {
  .production {
    padding-top: 23px;
    padding-bottom: 78px;
  }

  .production__wrapper {
    padding: 0;
  }

  .production__title {
    margin-bottom: 52px;
    padding-left: 0;
    padding-right: 90px;

    @include roboto-regular(32px, 140.62%);
  }

  .production__list {
    margin: 0 0 -45px;
  }

  .production__item {
    width: 100%;
    margin: 0 0 46px;
    padding: 39px 44px;
    height: 256px;
    background-size: cover;

    &::after {
      right: 0;
      bottom: 0;
    }

    &--product {
      background-image: url("../img/product-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product-tablet-2x.png");
      }
    }

    &--mount {
      background-image: url("../img/mount-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mount-tablet-2x.png");
      }
    }

    &--light {
      background-image: url("../img/light-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/light-tablet-2x.png");
      }
    }
  }

  @media (max-width: $tablet-width - 1) {
    .production {
      padding-top: 26px;
    }

    .production__title {
      margin-bottom: 42px;
      padding-left: 10px;
      padding-right: 0;

      @include roboto-regular(28px, 140.62%);
    }

    .production__list {
      margin-top: 5px;
    }

    .production__item {
      margin-bottom: 30px;
      padding: 19px 35px;

      &--product {
        background-image: url("../img/product-mobile.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/product-mobile-2x.png");
        }
      }

      &--mount {
        background-image: url("../img/mount-mobile.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/mount-mobile-2x.png");
        }
      }

      &--light {
        background-image: url("../img/light-mobile.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/light-mobile-2x.png");
        }
      }
    }
  }
}
