.promo {
  @include outer-wrapper;
  padding-top: 144px;
  padding-bottom: 274px;
  margin-bottom: 113px;
}

.promo__wrapper {
  @include inner-wrapper;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 107px;
  position: relative;
  z-index: 1;
}

.promo__title {
  margin-left: -97px;
  margin-bottom: 28px;

  @include roboto-bold(80px, 94px);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
}

.promo__text {
  margin: 0 0 42px 0;
  max-width: 690px;
  position: relative;

  @include ptmono(22px, 34px);
  color: $white;

  &::before {
    position: absolute;
    top: 16px;
    left: -97px;
    width: 66px;
    height: 2px;

    content: "";
    background-color: $white;
  }
}

.promo__image {
  position: absolute;
  z-index: -1;
  top: -3px;
  right: -64px;
}

.promo__scroll-link {
  position: absolute;
  left: -24px;
  bottom: -148px;
  transform: rotate(-90deg);

  @include ptmono (14px, 16px);
  opacity: 0.5;
  color: $white;
  text-decoration: none;
}

@media (max-width: $desktop-width - 1) {
  .promo {
    padding-top: 56px;
    padding-bottom: 163px;
    margin-bottom: 53px;
  }

  .promo__wrapper {
    padding-left: 0;
  }

  .promo__title {
    max-width: 65%;
    margin-left: 63px;

    @include roboto-bold(60px, 70px);
  }

  .promo__text {
    max-width: 65%;
    margin-bottom: 56px;
    margin-left: 114px;

    @include ptmono(18px, 156.8%);

    &::before {
      top: 16px;
      left: -48px;
      width: 33px;
    }
  }

  .promo__link {
    margin-left: 114px;
  }

  .promo__image {
    width: 465px;
    height: 340px;
    top: -75px;
    right: -230px;
  }

  .promo__scroll-link {
    display: none;
  }
}

@media (max-width: $tablet-width - 1) {
  .promo {
    padding-top: 185px;
    padding-bottom: 70px;
    margin-bottom: 37px;
    margin-left: 0;
  }

  .promo__title {
    margin-left: -3px;
    margin-bottom: 27px;

    @include roboto-bold(40px, 47px);
  }

  .promo__text {
    max-width: 100%;
    margin-bottom: 43px;
    margin-left: 0;
    padding-left: 49px;

    @include ptmono(16px, 156.8%);

    &::before {
      left: 0;
    }
  }

  .promo__link {
    margin-left: 0;
  }

  .promo__image {
    width: 301px;
    height: 220px;
    top: -194px;
    right: -13px;
  }
}

