.promo {
  position: relative;
  z-index: 1;
  margin-left: -4px;
  margin-bottom: 273px;

  &::after {
    position: absolute;
    top: -128px;
    right: -37px;
    width: 671px;
    height: 573px;

    background-image: url("../img/boards-decoration-big.svg");
    background-repeat: no-repeat;
    content: "";
  }
}

.promo__title {
  margin-bottom: 28px;

  @include roboto-bold(80px, 94px);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
}

.promo__text {
  margin: 0 0 44px 0;
  padding-left: 97px;
  max-width: 690px;
  position: relative;

  @include ptmono(22px, 34px);
  color: $white;

  &::before {
    position: absolute;
    top: 16px;
    left: 4px;
    width: 66px;
    height: 2px;

    content: "";
    background-color: $white;
  }
}

.promo__link {
  margin-left: 97px;
}

.promo__image {
  position: absolute;
  z-index: -1;
  top: -57px;
  right: -80px;
}

.promo__scroll-link {
  position: absolute;
  left: -34px;
  bottom: -147px;
  transform: rotate(-90deg);

  @include ptmono (14px, 16px);
  opacity: 0.5;
  color: $white;
  text-decoration: none;
}

@media (max-width: $tablet-width) {
  .promo {
    margin-left: 62px;
    margin-bottom: 163px;
    max-width: 70%;

    &::after {
      position: absolute;
      top: -228px;
      right: -378px;
      width: 528.64px;
      height: 505.5px;

      background-image: url("../img/boards-decoration-small.svg");
    }
  }

  .promo__title {
    margin-left: 0;

    @include roboto-bold(60px, 70px);
  }

  .promo__text {
    margin-bottom: 56px;
    padding-left: 52px;

    @include ptmono(18px, 156.8%);

    &::before {
      top: 16px;
      left: 4px;
      width: 33px;
    }
  }

  .promo__image {
    width: 465px;
    height: 340px;
    top: -74px;
    right: -384px;
  }

  .promo__link {
    margin-left: 52px;
  }

  .promo__scroll-link {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    margin-left: 0;
    max-width: 100%;
  }

  .promo__title {
    margin-left: 0;
    margin-bottom: 27px;

    @include roboto-bold(40px, 47px);
  }

  .promo__text {
    padding-left: 49px;

    @include ptmono(16px, 156.8%);
  }
}
