.top-background {
  overflow: hidden;

  background-color: $dark-blue;
  background-image: url("../img/top-mask.png"), url("../img/boards-desktop.png"), url("../img/boards-decoration-desktop.svg");
  background-position: center bottom, calc((100% - 1440px) / 2 + 1149px) 258px, calc((100% - 1440px) / 2 + 1126px) 118px;
  background-repeat: no-repeat;
  background-size: cover, auto, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/top-mask.png"), url("../img/boards-desktop-2x.png"), url("../img/boards-decoration-desktop.svg");
    background-size: cover, 705px auto, auto;
  }

  @media (max-width: $desktop-width - 1) {
    background-image: url("../img/top-mask.png"), url("../img/boards-tablet.png"), url("../img/boards-decoration-tablet.svg");
    background-position: center bottom, top 113px right -204px, top 3px right -200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/top-mask.png"), url("../img/boards-tablet-2x.png"), url("../img/boards-decoration-tablet.svg");
      background-size: cover, 485px auto, auto;
    }
  }

  @media (max-width: $tablet-width - 1) {
    background-image: url("../img/top-mask.png"), url("../img/boards-mobile.png"), url("../img/boards-decoration-mobile.svg");
    background-position: center bottom, calc((100% - 290px) / 2 + 158px) 92px, calc((100% - 290px) / 2 + 390px) -46px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/top-mask.png"), url("../img/boards-mobile-2x.png"), url("../img/boards-decoration-mobile.svg");
      background-size: cover, 294px auto, auto;
    }
  }
}
