. {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: $desktop-width - 1) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $tablet-width - 1) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@mixin inner-wrapper() {
  @media (min-width: $desktop-width) {
    width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
}

@mixin inner-wrapper-tighter() {
  @media (min-width: $desktop-width) {
    width: 1170px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
}
