@mixin roboto-regular($font-size, $line-height) {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin roboto-bold($font-size, $line-height) {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin ptmono($font-size, $line-height) {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin wrapping() {
  padding-right: 13.4%;
  padding-left: 13.1%;

  @media (max-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 17px;
    padding-left: 17px;
  }
}
