$blue: #00b2ff;
$dark-blue: #1b2d37;
$white: #ffffff;
$grey: #626962;
$dark-grey: #666666;
$light-grey :#c4c4c4;
$lighter-grey: #ebebeb;

$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
